<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MobilePCTransfer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/my_style.css">
</head>
<body>
<div class="horizontalUnit">
    <a href=""><button class="button">Go Back</button></a>
    <a href="/web/root"><button class="button">Root Directory</button></a>
    {{#ifSDcard}}
        <a href=""><button class="button">SD Directory</button></a>
    {{/ifSDcard}}
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="myFile" multiple>
        <input type="submit" value="Upload File">
    </form>
</div><br>

{{#directoryFiles.dirFiles}}
    <div class="horizontalUnit">
        {{#isFile}}
            <a href="/download/{{name}}">
                <img src="{{staticImage}}" width="100" height="70"><br>
                <label><strong>Download </strong>{{name}}</label>
            </a>
        {{/isFile}}
        {{^isFile}}
            <a href="/web/{{name}}">
                <img src="{{staticImage}}" width="100" height="70"><br>
                <label>{{name}}</label>
            </a>
        {{/isFile}}
    </div>
{{/directoryFiles.dirFiles}}
</body>
</html>