<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MobilePCTransfer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/my_style.css">
</head>
<body>
<table class="styled-table">
    <div class="wrapper">
        <tr>
            <td style="width: 30%;">
                <div class="sidebar">

                    <h2>HotSpot Device Explorer</h2>
                    <ul>
                        <li><a href="/web/back" class="menu"><img src="/static/backbutton.png" alt="" width="200px" height="40"></a></li>
                        <li><a  class="atag" href="/web/root">Root Directory</a></li>
                        {{^ifSDcard}}
                            <li><a class="atag" href="/web/sd-dir">SD Directory</a></li>
                        {{/ifSDcard}}
                        <form class="form-layout" action="/upload" method="post" enctype="multipart/form-data">
                            <input type="file" name="myFile" multiple>
                            <input class="save" type="submit" value="Upload File">
                        </form>
                    </ul>
                </div>
            </td>
            <td style="width: 70%;">
                {{#templateData.dirFiles}}
                    <div class="horizontalUnit">
                        {{#isFile}}
                            <a href="/download/{{name}}" style="width:100px">
                                <img src="{{staticImage}}" width="100" height="70"><br>
                                <label class="ltag"><strong>Download </strong>{{name}}</label>
                            </a>
                        {{/isFile}}
                        {{^isFile}}
                            <a href="/web/{{name}}" style="width:100px">
                                <img src="{{staticImage}}" width="100" height="70"><br>
                                <label class="ltag">{{name}}</label>
                            </a>
                        {{/isFile}}
                    </div>
                {{/templateData.dirFiles}}
            </td>
        </tr>
    </div>
</table>
</body>
</html>

<!--<div class="wrapper">-->
<!--    <div class="sidebar">-->
<!--        <h2>HotSpot Device Explorer</h2>-->
<!--        <ul>-->

        <!--            {{#directoryFiles.sdCardActive}}-->
<!--                <li><a href="/web/sd/back"><img src="/static/backbutton.png" alt="Go Back" width="200" height="40"></a>-->
<!--                </li>-->
<!--                &lt;!&ndash;                <li><a href="/web/sd/back">Go Back</a></li>&ndash;&gt;-->
        <!--            {{/directoryFiles.sdCardActive}}-->

        <!--            {{^directoryFiles.sdCardActive}}-->
<!--                <li><a href="/web/back"><img src="/static/backbutton.png" alt="Go Back" width="200" height="40"></a>-->
<!--                </li>-->
<!--                &lt;!&ndash;                <li><a href="/web/back">Go Back</a></li>&ndash;&gt;-->
        <!--            {{/directoryFiles.sdCardActive}}-->

<!--            <li><a href="/web/root">Root Directory</a></li>-->

        <!--            {{#directoryFiles.ifSdCard}}-->
<!--                <li><a href="/web/sd-dir">SD Directory</a></li>-->
        <!--            {{/directoryFiles.ifSdCard}}-->
<!--            <form class="form-layout" action="/upload" method="post" enctype="multipart/form-data">-->
<!--                <input type="file" name="myFile" multiple>-->
<!--                <input class="save" type="submit" value="Upload File">-->
<!--            </form>-->
<!--        </ul>-->
<!--    </div>-->

        <!--    {{^directoryFiles.showSDCard}}-->
<!--        <div class="main-content">-->
<!--            <div class="info">-->
        <!--                {{#directoryFiles.dirFiles}}-->
<!--                    <div class="horizontalUnit">-->
        <!--                        {{#isFile}}-->
<!--                            <a href="/download/{{name}}">-->
<!--                                <img src="{{staticImage}}" width="100" height="70"><br>-->
<!--                                <label><strong>Download </strong>{{name}}</label>-->
<!--                            </a>-->
        <!--                        {{/isFile}}-->
        <!--                        {{^isFile}}-->
<!--                            <a href="/web/{{name}}">-->
<!--                                <img src="{{staticImage}}" width="100" height="70"><br>-->
<!--                                <label>{{name}}</label>-->
<!--                            </a>-->
        <!--                        {{/isFile}}-->
<!--                    </div>-->
        <!--                {{/directoryFiles.dirFiles}}-->
<!--            </div>-->
<!--        </div>-->


        <!--    {{/directoryFiles.showSDCard}}-->

        <!--    {{#directoryFiles.showSDCard}}-->
<!--        <div class="main-content">-->
<!--            <div class="info">-->
        <!--                {{#directoryFiles.sdDirFiles}}-->
<!--                    <div class="horizontalUnit">-->
        <!--                        {{#isFile}}-->
<!--                            <a href="/download/sd/{{name}}">-->
<!--                                <img src="{{staticImage}}" width="100" height="70"><br>-->
<!--                                <label><strong>Download </strong>{{name}}</label>-->
<!--                            </a>-->
        <!--                        {{/isFile}}-->
        <!--                        {{^isFile}}-->
<!--                            <a href="/web/sd/{{name}}">-->
<!--                                <img src="{{staticImage}}" width="100" height="70"><br>-->
<!--                                <label>{{name}}</label>-->
<!--                            </a>-->
        <!--                        {{/isFile}}-->
<!--                    </div>-->
        <!--                {{/directoryFiles.sdDirFiles}}-->
<!--            </div>-->
<!--        </div>-->
        <!--    {{/directoryFiles.showSDCard}}-->
<!--</div>-->
